* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.list {
  list-style: none;
  width: 900px;

  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.float {
  float: left;
}

.article {
  width: 370px;
  text-align: center;

  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));

  background-color: #fff;

  margin-right: 30px;

  margin-top: 30px;
}

.article-big {
  width: 770px;
  text-align: left;

  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));

  background-color: #fff;
}

li > h3 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  text-transform: uppercase;

  color: #c9a96e;
}

li > h4 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #171717;

  margin-top: -10px;
}

li > p {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #666666;

  margin-top: -30px;

  padding: 14px;
}

.fourth-color-text {
  color: #b1b1b1;
}

.margin {
  margin-left: 10px;
}
